[mysqld]
default_authentication_plugin = mysql_native_password

server_id = 11
report_host = mysqldb11

gtid_mode = ON
enforce_gtid_consistency = ON

transaction_isolation = READ-COMMITTED
# super_read_only = ON

relay_log = mysqldb11-relay-bin
relay_log_index = mysqldb11-relay-bin